.menu {
  position:absolute;
  background-color: white;
  top: 48px;
  margin: -450px 0 0 0;
  left: 0;
  height: 500px;
  width: 100%;
  transition: margin .2s;
  opacity: 1;
}

.isMenuOpen {
  margin-top: 0;
}